<footer>
<p>
  A <a href="https://www.whiterabbitexpress.com">White Rabbit Express</a> company.
</p>
<p>
  This page was generated on {{ site.buildTime | dateDisplay('LLL d, yyyy - HH:mm') }}
</p>
</footer>
