<header>

  <ul class="nav">
    <img class="logo" heigh=52 src="/images/jr-logo-horizontal.jpg"/>

    <li>
      <a href="/">home<small>where the heart is</small>
      </a>
    </li>

    <li>
      <a href="/about">About<small>our roadmap</small>
      </a>
    </li>
  </ul>

  <h1>{{ title }}</h1>
  {%- if subtitle %}
    <p class="subtitle">{{ subtitle | safe }}</p>
  {% endif %}

</header>