@tailwind base;

// stylelint-disable selector-max-type
html {
  overflow-x: hidden;
  font-size: 16px;
  // stylelint-disable-next-line
  body {
    overflow-x: hidden;
  }
}

a {
  @apply text-primary underline;
}

@tailwind components;
@tailwind utilities;

.container {
  @apply px-36 max-w-full;

  @screen xxxlUp {
    max-width: theme('screens.xxxlUp.min');
  }

  @screen mdDown {
    @apply px-12;
  }

  @screen sm {
    @apply px-4;
  }
}
